.Achievements section .block {
  width: calc(100% / 1 - 1rem);
}

@media screen and (min-width: 900px) {
  .Achievements section .block {
    width: calc(100% / 2 - 1rem);
  }
}

@media screen and (min-width: 1280px) {
  .Achievements section .block {
    width: calc(100% / 3 - 1rem);
  }
}

@media screen and (min-width: 1600px) {
  .Achievements section .block {
    width: calc(100% / 4 - 1rem);
  }
}
